# This is the configuration file for Ghostty.
#
# This template file has been automatically created at the following
# path since Ghostty couldn't find any existing config files on your system:
#
#   /home/lsdr/.config/ghostty/config
#
# Run `ghostty +show-config --default --docs` to view a list of
# all available config options and their default values.
#
# Additionally, each config option is also explained in detail
# on Ghostty's website, at https://ghostty.org/docs/config.

## General
maximize=true
window-decoration=none

## Font settings
font-size = 11
font-family = "CodeNewRoman Nerd Font Mono"

## Theme
#theme = "Argonaut"
theme = "Wombat"
